* {
    font-family: 'Roboto Mono', monospace;
}

html, body {
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    display: flex;
    flex-direction: column;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
