* {
    font-family: 'Roboto Mono', monospace;
}

html, body {
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    display: flex;
    flex-direction: column;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.navbar-brand {
    transition: opacity 0.15s ease;
}
.navbar-brand:hover {
    opacity: 0.8;
}

.btn-generic {
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-bg: transparent;
}