{% extends "layout.html" %}

{% block title %}Closest Matches{% endblock %}

{% block content %}

<h2 class="mb-4">Closest matches</h2>

<p>The top 15 closest matches between ranked armwrestlers based on the ELO scores.</p>

<div class="btn-group btn-group-toggle mb-3 w-100" data-toggle="buttons">
    <a href="{{ url_for('closest_matches', arm='right') }}" 
       class="btn btn-primary w-50 {{ 'active' if arm == 'right' else '' }}" role="button" aria-pressed="{{ 'true' if arm == 'right' else 'false' }}">Right arm</a>
    <a href="{{ url_for('closest_matches', arm='left') }}"
       class="btn btn-primary w-50 {{ 'active' if arm == 'left' else '' }}" role="button" aria-pressed="{{ 'true' if arm == 'left' else 'false' }}">Left arm</a>
</div>

{% for match in closest_matches_with_predictions %}
{% if supermatch_add %}
<form action="{{ url_for('supermatch') }}" method="POST" class="col-12 mb-3">
{% else %}
<form action="{{ url_for('prediction') }}" method="GET" class="col-12 mb-3">
{% endif %}
    <input type="hidden" name="arm" value="{{ arm }}">
    <input type="hidden" name="armwrestler1" value="{{ match[1] }}">
    <input type="hidden" name="armwrestler2" value="{{ match[4] }}">
    <button type="submit" class="btn btn-light p-0 w-100">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row mt-2">
                    <div class="col-12 col-lg-auto text-center mb-2">
                        <div>
                            <strong>#{{ match[0] }}</strong> {{ match[1] }}<strong>({{ match[2] }})</strong>
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto text-center mb-2">
                        <span class="badge bg-dark">VS</span>
                    </div>
                    <div class="col-12 col-lg-auto text-center mb-2">
                        <div>
                            <strong>#{{ match[3] }}</strong> {{ match[4] }}<strong>({{ match[5] }})</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="row justify-content-md-center justify-content-lg-start">
                        <div class="col-12 col-md-auto mb-2 mb-md-0 text-start">
                            Win chance:<span class="fs-6 badge text-{{ match[9] }}">{{ match[7] }}%</span>|<span class="fs-6 badge text-{{ match[10] }}">{{ match[8] }}%</span>
                        </div>
                        <div class="col-12 col-md-auto mb-2 mb-md-0 text-start">
                            ELO difference:<span class="fs-6 badge text-dark">{{ match[6] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </button>
</form>
{% endfor %}


{% endblock %}
