<div class="modal-body">
    <p>
        {% if has_history %}
        <strong>{{ current_name }}</strong> has match history and will be hidden from the rankings instead of deleted.
        {% else %}
        Are you sure you want to remove <strong>{{ current_name }}</strong>?
        {% endif %}
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" popovertarget="confirmModal" popovertargetaction="hide">No</button>
    <button type="submit" name="confirm_remove" formaction="{{ url_for('confirm_remove', id=id, current_name=current_name) }}" class="btn btn-danger">Yes</button>
</div>
