{% from 'macros.html' import modal_header %}
<form class="form" method="POST" action="{{ url_for('edit_member') }}" hx-post="{{ url_for('edit_member') }}" hx-trigger="change" hx-swap:inherited="outerMorph">
    <input type="hidden" name="id" value="{{ id }}">
    <div class="field">
        <label for="name" class="label">Name</label>
        <input type="text" class="input" id="name" name="name" value="{{ name }}" autocomplete="name">
    </div>
    <!-- Right ELO Section -->
    <div class="form-row">
        <label for="right_elo" class="label">Right ELO:</label>
        <input type="number" class="input" id="right_elo" name="right_elo" value="{{ right_elo }}">
    </div>

    <!-- Left ELO Section -->
    <div class="form-row">
        <label for="left_elo" class="label">Left ELO:</label>
        <input type="number" class="input" id="left_elo" name="left_elo" value="{{ left_elo }}">
    </div>

    <div class="form-row">
        <label for="selected_status" class="label">Status:</label>
        <select class="select" id="selected_status" name="selected_status" required>
            {% for status in status_options %}
                <option value="{{ status }}" {% if selected_status == status %}selected{% endif %}>{{ status }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="actions">
        {% if member_ready %}
        <button type="button" class="btn btn-primary" popovertarget="saveChangesModal">Save changes</button>
        {% elif error %}
        <p class="text-danger">{{ error }}</p>
        {% endif %}
        <button type="button" class="btn btn-danger push" hx-post="{{ url_for('confirm_remove', id=id, current_name=current_name) }}" hx-target="#confirmModalRemove" hx-swap="innerMorph" popovertarget="confirmModal">Remove</button>
    </div>

    <div class="modal" id="confirmModal" popover role="dialog" aria-labelledby="confirmModalLabel">
        {{ modal_header('confirmModal', 'Confirm Removal') }}
        <div id="confirmModalRemove"></div>
    </div>
    {% if member_ready %}
    <div class="modal" id="saveChangesModal" popover role="dialog" aria-labelledby="saveChangesModalLabel">
        {{ modal_header('saveChangesModal', 'Confirm Saving Changes') }}
        <div class="modal-body">
            <p>Are you sure you want to save changes?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" popovertarget="saveChangesModal" popovertargetaction="hide">No</button>
            <button type="submit" name="edit_member" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    {% endif %}
</form>
