{% extends "layout.html" %}

{% block title %}ELO From Match{% endblock %}

{% block content %}
<div class="mx-auto" style="max-width: 800px;">
    <div class="row align-items-center mb-4">
        <div class="col-auto p-0">
            <form action="{{ url_for('ranking') }}" method="GET">
                <button type="submit" class="btn">
                    <i class="bi bi-arrow-left fs-3"></i>
                </button>
            </form>
        </div>
        <div class="col d-flex align-items-center px-1">
            <h2 class="mb-0">ELO from match</h2>
        </div>
    </div>
    <div class="alert alert-secondary" role="alert">
        <strong>Ranked example: </strong>If there was a match between two [Ranked] armwrestlers, the ELO points gained or lost are determined by the outcome of this match.<br>                           
        <strong>Unranked example: </strong>If an [Unranked person] beats a [Ranked person] in a match, they would receive an estimated ELO rating based on the score of that specific single match.
    </div>    
    {% include 'elo_from_match_partial.html' %}
</div>
{% endblock %}
