<div class="mx-auto" style="max-width: 800px;">
    <form method="POST" action="{{ url_for('elo_from_match') }}" hx-post="{{ url_for('elo_from_match') }}" hx-trigger="change" hx-swap="outerHTML">
        <!-- Arm selection buttons -->
        <label for="arm" class="form-label">Chose arm for the match:</label>
        <div class="btn-group btn-group-toggle mb-2 w-100" data-toggle="buttons">
            <label class="btn btn-primary w-50 {{ 'active' if arm == 'right' else '' }}">
                <input type="radio" name="arm" id="armRight" value="right" autocomplete="off" {{ 'checked' if arm == 'right' else '' }} class="visually-hidden">Right arm
            </label>
            <label class="btn btn-primary w-50 {{ 'active' if arm == 'left' else '' }}">
                <input type="radio" name="arm" id="armLeft" value="left" autocomplete="off" {{ 'checked' if arm == 'left' else '' }} class="visually-hidden">Left arm
            </label>
        </div>

        <!-- Armwrestler selection dropdowns -->
        <div class="row">
            <label for="armwrestler1" class="form-label">Select ranked armwrestler:</label>
            <div class="col-2">
                <div class="text-center fs-5">
                    <span class="badge bg-dark">VS</span>
                </div>
            </div>
            <div class="col">
                <select class="form-select" id="armwrestler1" name="armwrestler1" required>
                    <option value="none">Choose...</option>
                    {% for armwrestler in armwrestlers %}
                        <option value="{{ armwrestler[0] }}" {% if selected_armwrestler_1 == armwrestler[0] %}selected{% endif %}>{{ armwrestler[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Submit Match button, shown only if all selections are made and none of them is 'none' -->
        {% if calculation_ready %}
        <label for="arm" class="form-label my-2">Enter score:</label>
        <div class="row mb-3">
            <div class="col d-flex justify-content-center align-items-center">
                <div class="text-center fs-3">
                    <span class="badge bg-dark">{{ armwrestler_1_score }}</span>
                </div>
            </div>
            
            <div class="col-1 text-center fs-2">:</div>

            <div class="col d-flex justify-content-center align-items-center">
                <div class="text-center fs-3">
                    <span class="badge bg-dark">{{ armwrestler_2_score }}</span>
                </div>
            </div>
        </div>
        <input type="range" class="form-range mt-2" id="score" name="score" min="0" max="5" value="{{ armwrestler_1_score }}">
        <label for="arm" class="form-label my-2">Estimated ELO:</label>
        <div class="text-center fs-4">
            <span class="text-success">{{ elo_from_match }}</span>
        </div>
        {% endif %}
    </form>
</div>
