{% for record in history %}
<div class="col-12 mb-3">
    <div class="card">
        <div class="card-header bg-transparent">
            <div class="row mt-2">
                <div class="col-12 col-lg-auto mb-2 d-flex justify-content-center">
                    <div class="d-flex align-items-center gap-0 align-middle">
                        <strong class="align-middle p-1">#{{ record[5] }}</strong>
                        <a href="{{ url_for('view_member', id=record[0]) }}" class="btn btn-generic text-start px-2 py-1 m-0 text-nowrap">
                        {{ record[1] }}
                        </a>
                        <strong class="text-nowrap align-middle">({{ record[7] }} <span class="{{ formatted_data[loop.index - 1][2] }}">{{ formatted_data[loop.index - 1][4] }}</span>)</strong>
                    </div>
                </div>
                <div class="col-12 col-lg-auto text-center mb-2 d-flex align-items-center justify-content-center">
                    <span class="badge bg-dark">VS</span>
                </div>
                <div class="col-12 col-lg-auto mb-2 d-flex justify-content-center">
                    <div class="d-flex align-items-center gap-0 align-middle">
                        <strong class="align-middle p-1">#{{ record[6] }}</strong>
                        <a href="{{ url_for('view_member', id=record[2]) }}" class="btn btn-generic text-start px-2 py-1 m-0 text-nowrap">
                            {{ record[3] }}
                        </a>
                        <strong class="text-nowrap align-middle">({{ record[8] }} <span class="{{ formatted_data[loop.index - 1][3] }}">{{ formatted_data[loop.index - 1][5] }}</span>)</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row justify-content-start">
                    <div class="col-12 col-lg-auto mb-2 mb-lg-0 text-start">
                        Arm:<span class="fs-6 mx-0 badge text-dark">{{ record[4] }}</span>
                    </div>
                    <div class="col-12 col-lg-auto mb-2 mb-lg-0 text-start">
                        Format:<span class="fs-6 mx-0 badge text-dark">{{ record[13] }}</span>
                    </div>
                    <div class="col-12 col-lg-auto mb-2 mb-lg-0 text-start">
                        Result:<span class="fs-6 ms-2 me-1 badge {{ formatted_data[loop.index - 1][0] }}">{{ record[9] }}</span>:<span class="fs-6 ms-1 me-0 badge {{ formatted_data[loop.index - 1][1] }}">{{ record[10] }}</span>
                    </div>
                    <div class="col-12 col-lg-auto mb-0 mb-lg-0 text-start">
                        Date:<span class="fs-6 mx-0 badge text-dark">{{ formatted_data[loop.index - 1][6] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}