{% extends "layout.html" %}
{% from 'macros.html' import back_header %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="narrow-xs stack">
    {{ back_header('Login') }}
    <form class="form" method="POST">
        <div class="field">
            <label for="username" class="label">Username</label>
            <input type="text" class="input" id="username" name="username" autocomplete="username" spellcheck="false" required>
        </div>
        <div class="field">
            <label for="password" class="label">Password</label>
            <input type="password" class="input" id="password" name="password" autocomplete="current-password" required>
        </div>
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
