{% extends "layout.html" %}

{% block title %}Rankings{% endblock %}

{% block content %}

<div class="d-flex justify-content-between">
    <h2 class="mb-4">Rankings</h2>
    <form action="{{ url_for('supermatch') }}" method="POST">
        <button type="submit" class="btn btn-success">New supermatch</button>
    </form>
</div>
<p>Official rankings for armwrestlers at the <strong>Armwrestling Zurich</strong> club. Scores are based on the ELO rating system.</p>

<div id="rankings">
    {% include 'ranking_partial.html' %}
</div>

<div class="alert alert-secondary" role="alert">
    The ELO rating system is used to calculate the relative skill levels of players in competitor vs competitor games/sports. 
    The number of points won/lost after a match depends on the expected outcome of the match.
    If a lower-rated armwrestler wins against a higher-rated armwrestler, they gain more points than if they won against someone of equal or lower rating.
</div>

{% endblock %}