{% extends "layout.html" %}

{% block title %}Rankings{% endblock %}

{% block content %}

<h2 class="mb-4">Rankings</h2>

<p>Official rankings for armwrestlers at the <strong>Armwrestling Zurich</strong> club. Scores are based on the ELO rating system.</p>

<div class="alert alert-danger" role="alert">
    Left arm ranking are still provisional.
</div>

<div class="btn-group btn-group-toggle mb-2 w-100" data-toggle="buttons">
    <a href="{{ url_for('ranking', arm='right') }}" 
       class="btn btn-primary w-50 {{ 'active' if arm == 'right' else '' }}" role="button" aria-pressed="{{ 'true' if arm == 'right' else 'false' }}">Right arm</a>
    <a href="{{ url_for('ranking', arm='left') }}"
       class="btn btn-primary w-50 {{ 'active' if arm == 'left' else '' }}" role="button" aria-pressed="{{ 'true' if arm == 'left' else 'false' }}">Left arm</a>
</div>

<div class="table-responsive rounded">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th style="width: 5%;">Rank</th>
                <th style="width: 70%;">Name</th>
                <th class="text-end text-nowrap" style="width: 10%;">{{ "Right ELO" if arm == 'right' else "Left ELO" }}</th>
                {% if username %}
                <th class="text-center" style="width: 15%;">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for armwrestler in armwrestlers %}
            <tr>
                <td style="width: 5%;"><strong>#{{ armwrestler[0] }}</strong></td>
                <td style="width: 70%;">{{ armwrestler[1] }}</td>
                <td style="width: 10%;" class="text-end"><strong>{{ armwrestler[2] }}</strong></td>
                {% if username %}
                <td style="width: 15%;" class="text-center">
                    <button type="button" class="btn btn-danger btn-sm" 
                    hx-post="{{ url_for('confirm_remove', name=armwrestler[1]) }}" hx-target="#confirmModalRemove" hx-trigger="click" 
                    data-bs-toggle="modal" data-bs-target="#confirmModal">Remove</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="alert alert-secondary" role="alert">
    The ELO rating system is used to calculate the relative skill levels of players in competitor vs competitor games/sports. 
    The number of points won/lost after a match depends on the expected outcome of the match.
    If a lower-rated armwrestler wins against a higher-rated armwrestler, they gain more points than if they won against someone of equal or lower rating.
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Removal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="confirmModalRemove"></div>
        </div>
    </div>
</div>

{% endblock %}
