<div class="modal-body">
    <span>Are you sure you want to remove this match from the initial elo calculation average?</span>
    <div class="mt-4">{% include 'new_member_matches_partial.html' %}</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <form action="{{ url_for('remove_new_member_match') }}" method="POST">
        <input type="hidden" name="match_id" value="{{ match_id }}">
        <button type="submit" name="remove_match" class="btn btn-danger">Remove</button>
    </form>
</div>