{% extends "layout.html" %}
{% from 'macros.html' import back_header %}

{% block title %}View member{% endblock %}

{% block content %}
<div class="narrow stack">
    {{ back_header(name) }}
    <div class="table-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Activity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w-50">Status</td>
                    <td class="text-center">
                        <strong class="{% if current_status == 'active' %}text-success{% else %}text-secondary{% endif %}">{{ current_status }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="w-50">Wins / Losses</td>
                    <td class="text-center"><strong>{{ wins }} / {{ losses }}</strong></td>
                </tr>
                <tr>
                    <td class="w-50">Total matches</td>
                    <td class="text-center"><strong>{{ total_matches }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="arm_info" class="stack">
    {% include 'view_member_partial.html' %}
</div>

{% endblock %}
