{% from 'macros.html' import arm_toggle with context %}
<div class="narrow stack">
    {{ arm_toggle('view_member', '#arm_info', push=true, url_kwargs={'id': id}) }}

    <div class="table-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th class="w-50">Records</th>
                    <th class="text-center w-25">Current</th>
                    <th class="text-center w-25">Best</th>
                </tr>
            </thead>
            <tbody>
                {% if arm == 'right' %}
                <tr>
                    <td>Right ELO</td>
                    <td class="text-center"><strong>{{ current_right_elo }}</strong></td>
                    <td class="text-center"><strong>{{ best_right_elo }}</strong></td>
                </tr>
                <tr>
                    <td>Right Rank</td>
                    <td class="text-center"><strong>{% if current_right_rank %}#{% endif %}{{ current_right_rank }}</strong></td>
                    <td class="text-center"><strong>{% if best_right_rank %}#{% endif %}{{ best_right_rank }}</strong></td>
                </tr>
                {% elif arm == 'left' %}
                <tr>
                    <td>Left ELO</td>
                    <td class="text-center"><strong>{{ current_left_elo }}</strong></td>
                    <td class="text-center"><strong>{{ best_left_elo }}</strong></td>
                </tr>
                <tr>
                    <td>Left Rank</td>
                    <td class="text-center"><strong>{% if current_left_rank %}#{% endif %}{{ current_left_rank }}</strong></td>
                    <td class="text-center"><strong>{% if best_left_rank %}#{% endif %}{{ best_left_rank }}</strong></td>
                </tr>
                {% endif %}
                {% if badges_for_arm and badges_for_arm|length > 0 %}
                <tr>
                    <td colspan="3">
                        <div class="row text-center">
                            {% for badge in badges_for_arm %}
                            <span class="badge {{ badge['color'] }}">{{ badge['name'] }}</span>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<h2 class="section-title">Matches</h2>

{% if matches %}

{% include 'matches_partial.html' %}

{% else %}

<div class="note">
    The armwrestler has not had any matches on the <strong>{{ arm }}</strong> arm.
</div>

{% endif %}
