{% extends "layout.html" %}
{% from 'macros.html' import back_header %}

{% block title %}View member{% endblock %}

{% block content %}
<div class="mx-auto" style="max-width: 800px;">
    {{ back_header(name) }}
    <div class="table-responsive rounded">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th colspan="2" class="align-middle">Activity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w-50 align-middle">Status</td>
                    <td class="text-center align-middle">
                        <span class="{% if current_status == 'active' %}text-success{% else %}text-secondary{% endif %}">
                            <strong>{{ current_status }}</strong>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="w-50 align-middle">Wins / Losses</td>
                    <td class="text-center align-middle">
                        <strong>{{ wins }} / {{ losses }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="w-50 align-middle">Total matches</td>
                    <td class="text-center align-middle">
                        <strong>{{ total_matches }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="w-50 align-middle">Days left for match</td>
                    <td class="text-center align-middle {% if days_left == 'inactive' %}text-secondary{% endif %}">
                        <strong>{{ days_left }}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="arm_info">
    {% include 'view_member_partial.html' %}
</div>

{% endblock %}
